In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup
import requests
import numpy as np
import re
import requests
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

#Q1 Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [18]:
rank=[]
name=[]
artist=[]
date=[]
view=[]

In [20]:
ranks = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr')
for i in ranks:
    rk = i.text
    rank.append(rk)
names = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[1]')
for i in names:
    nm = i.text
    name.append(nm)
artists = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[2]')
for i in artists:
    art = i.text
    artist.append(art)
dates = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[4]')
for i in dates:
    dt = i.text
    date.append(dt)
views = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]')
for i in views:
    vw = i.text
    view.append(vw)

In [21]:
df=pd.DataFrame({'Rank':rank,'NAME':name,'ARTIST':artist,'VIEWS':date,'DATE':view})
df

,Rank,NAME,ARTIST,VIEWS,DATE
0,"""Axel F""[38] Crazy Frog 4.34 June 16, 2009","""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
1,"""Baa Baa Black Sheep""[41] Cocomelon - Nursery ...","""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
2,"""Baby Shark Dance""[6] Pinkfong Baby Shark - Ki...","""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
3,"""Bath Song""[18] Cocomelon - Nursery Rhymes 6.6...","""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,"""Counting Stars""[40] OneRepublic 3.97 May 31, ...","""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
5,"""Dame Tu Cosita""[37] Ultra Records 4.55 April ...","""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
6,"""Dark Horse""[49] Katy Perry 3.67 February 20, ...","""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
7,"""Despacito""[9] Luis Fonsi 8.38 January 12, 201...","""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
8,"""Faded""[52] Alan Walker 3.59 December 3, 2015","""Faded""[52]",Alan Walker,"December 3, 2015",3.59
9,"""Gangnam Style""[31] Psy 5.05 July 15, 2012 [E]","""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
10,"""Girls Like You""[53] Maroon 5 3.56 May 31, 2018","""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
11,"""Humpty the train on a fruits ride""[47] Kiddie...","""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
12,"""Johny Johny Yes Papa""[17] LooLoo Kids - Nurse...","""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
13,"""Lakdi Ki Kathi""[43] Jingle Toons 3.91 June 14...","""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
14,"""Lean On""[54] Major Lazer Official 3.55 March ...","""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55
15,"""Learning Colors – Colorful Eggs on a Farm""[30...","""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
16,"""Let Her Go""[51] Passenger 3.61 July 25, 2012","""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
17,"""Masha and the Bear – Recipe for Disaster""[36]...","""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
18,"""Perfect""[50] Ed Sheeran 3.67 November 9, 2017","""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
19,"""Phonics Song with Two Words""[28] ChuChu TV Nu...","""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
20,"""Roar""[42] Katy Perry 3.96 September 5, 2013","""Roar""[42]",Katy Perry,"September 5, 2013",3.96
21,"""See You Again""[22] Wiz Khalifa 6.17 April 6, ...","""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
22,"""Shape of You""[19] Ed Sheeran 6.20 January 30,...","""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
23,"""Shree Hanuman Chalisa""[48] T-Series Bhakti Sa...","""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,"""Sorry""[45] Justin Bieber 3.77 October 22, 2015","""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
25,"""Sugar""[39] Maroon 5 4.00 January 14, 2015","""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
26,"""Thinking Out Loud""[46] Ed Sheeran 3.73 Octobe...","""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
27,"""Uptown Funk""[29] Mark Ronson 5.15 November 19...","""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
28,"""Waka Waka (This Time for Africa)""[44] Shakira...","""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
29,"""Wheels on the Bus""[27] Cocomelon - Nursery Rh...","""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
30,"""Axel F""[38] Crazy Frog 4.34 June 16, 2009","""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
31,"""Baa Baa Black Sheep""[41] Cocomelon - Nursery ...","""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
32,"""Baby Shark Dance""[6] Pinkfong Baby Shark - Ki...","""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
33,"""Bath Song""[18] Cocomelon - Nursery Rhymes 6.6...","""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
34,"""Counting Stars""[40] OneRepublic 3.97 May 31, ...","""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
35,"""Dame Tu Cosita""[37] Ultra Records 4.55 April ...","""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
36,"""Dark Horse""[49] Katy Perry 3.67 February 20, ...","""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
37,"""Despacito""[9] Luis Fonsi 8.38 January 12, 201...","""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
38,"""Faded""[52] Alan Walker 3.59 December 3, 2015","""Faded""[52]",Alan Walker,"December 3, 2015",3.59
39,"""Gangnam Style""[31] Psy 5.05 July 15, 2012 [E]","""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
40,"""Girls Like You""[53] Maroon 5 3.56 May 31, 2018","""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
41,"""Humpty the train on a fruits ride""[47] Kiddie...","""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
42,"""Johny Johny Yes Papa""[17] LooLoo Kids - Nurse...","""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
43,"""Lakdi Ki Kathi""[43] Jingle Toons 3.91 June 14...","""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
44,"""Lean On""[54] Major Lazer Official 3.55 March ...","""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55
45,"""Learning Colors – Colorful Eggs on a Farm""[30...","""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
46,"""Let Her Go""[51] Passenger 3.61 July 25, 2012","""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
47,"""Masha and the Bear – Recipe for Disaster""[36]...","""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
48,"""Perfect""[50] Ed Sheeran 3.67 November 9, 2017","""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
49,"""Phonics Song with Two Words""[28] ChuChu TV Nu...","""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
50,"""Roar""[42] Katy Perry 3.96 September 5, 2013","""Roar""[42]",Katy Perry,"September 5, 2013",3.96
51,"""See You Again""[22] Wiz Khalifa 6.17 April 6, ...","""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
52,"""Shape of You""[19] Ed Sheeran 6.20 January 30,...","""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
53,"""Shree Hanuman Chalisa""[48] T-Series Bhakti Sa...","""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
54,"""Sorry""[45] Justin Bieber 3.77 October 22, 2015","""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
55,"""Sugar""[39] Maroon 5 4.00 January 14, 2015","""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
56,"""Thinking Out Loud""[46] Ed Sheeran 3.73 Octobe...","""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
57,"""Uptown Funk""[29] Mark Ronson 5.15 November 19...","""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
58,"""Waka Waka (This Time for Africa)""[44] Shakira...","""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
59,"""Wheels on the Bus""[27] Cocomelon - Nursery Rh...","""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88

#Q2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [22]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [23]:
slct=driver.find_element(By.CLASS_NAME,"moreMatchesLink")
slct.click()

In [24]:
serie=[]
place=[]
time=[]
date=[]

In [25]:
dates = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div/div/div/div[2]/div[1]')
for i in dates:
    dt = i.text
    date.append(dt)
times = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div/div/div/div[2]/div[2]')
for i in times:
    tm = i.text
    time.append(tm)
places = driver.find_elements(By.XPATH, '//div[@class="fixture-tab-inner row"]/div/div/div[2]/div[1]/span[1]')
for i in places:
    pl = i.text
    place.append(pl)
series = driver.find_elements(By.XPATH, '//div[@class="tab-inner-content"]/div/div/div/div[1]/div/div/h5')
for i in series:
    sr = i.text
    serie.append(sr)

In [26]:
df=pd.DataFrame({'Date':date,'Place':place,'Time':time,'Series':serie})
df

,Date,Place,Time,Series
0,"7 MARCH, 2024","Himachal Pradesh Cricket Association Stadium,",9:30 AM IST,ENGLAND TOUR OF INDIA 2023-24
1,"6 JULY, 2024","Harare Sports Club,",8:00 PM IST,INDIA TOUR OF ZIMBABWE 2024
2,"7 JULY, 2024","Harare Sports Club,",8:00 PM IST,INDIA TOUR OF ZIMBABWE 2024
3,"10 JULY, 2024","Harare Sports Club,",8:00 PM IST,INDIA TOUR OF ZIMBABWE 2024
4,"13 JULY, 2024","Harare Sports Club,",8:00 PM IST,INDIA TOUR OF ZIMBABWE 2024
5,"14 JULY, 2024","Harare Sports Club,",8:00 PM IST,INDIA TOUR OF ZIMBABWE 2024

#Q3 Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [5]:
driver=webdriver.Chrome()
driver.get("https://statisticstimes.com/")

In [6]:
slct=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
slct.click()

In [7]:
slct=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
slct.click()

In [10]:
slct=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
slct.click()

In [11]:
rank=[]
state=[]
n1=[]
n2=[]
share=[]
gdp=[]

In [12]:
ranks = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in ranks:
    rk = i.text
    rank.append(rk)
states = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in states:
    st = i.text
    state.append(st)
n1s = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in n1s:
    num = i.text
    n1.append(num)
n2s = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in n2s:
    nums = i.text
    n2.append(nums)
shrs = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in shrs:
    sh = i.text
    share.append(sh)
gdps = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdps:
    dg = i.text
    gdp.append(dg)

In [13]:
df=pd.DataFrame({'RANK':rank,'STATE':state,'GSDP(19-20)':n2,'GSDP(18-19)':n1,'Share(18-19)':share,'GDP($ billion) ':gdp})
df

,RANK,STATE,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523
10,11,Kerala,-,"932,470",3.97%,125.157
11,12,Delhi,"1,043,759","904,642",3.85%,121.422
12,13,Haryana,"994,154","870,665",3.71%,116.862
13,14,Odisha,"774,869","670,881",2.86%,90.047
14,15,Bihar,"751,396","650,302",2.77%,87.284
15,16,Punjab,"673,107","614,227",2.62%,82.442
16,17,Assam,"493,167","412,612",1.76%,55.381
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550
18,19,Jharkhand,"393,722","358,863",1.53%,48.167
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
22,23,Goa,-,"82,604",0.35%,11.087
23,24,Tripura,"72,636","62,550",0.27%,8.396
24,25,Chandigarh,-,"45,635",0.19%,6.125
25,26,Puducherry,-,"44,238",0.19%,5.938
26,27,Meghalaya,"42,697","38,785",0.17%,5.206
27,28,Sikkim,"42,756","37,557",0.16%,5.041
28,29,Manipur,-,"36,594",0.16%,4.912
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714
30,31,Nagaland,-,"31,913",0.14%,4.283
31,32,Mizoram,-,"27,824",0.12%,3.735
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

#Q4  Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [14]:
driver=webdriver.Chrome()
driver.get(" https://github.com/")

In [15]:
slct=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
slct.click()

In [16]:
slct = driver.find_element(By.XPATH, '//a[@href="/trending"]')
slct.click()

In [17]:
tit=[]
desc=[]
ccount=[]
lang=[]

In [18]:
tits = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2/a/span')
for i in tits:
    tt = i.text
    tit.append(tt)
decs = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in decs:
    ds = i.text
    desc.append(ds)
ccs = driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span/span[2]')
for i in ccs:
    cs = i.text
    ccount.append(cs)

In [19]:
len(desc)

0

In [20]:
df=pd.DataFrame({'REPO NAME':tit[:22],'REPO DESC':desc[:22],'Language':ccount[:22]})
df

Empty DataFrame
Columns: [REPO NAME, REPO DESC, Language]
Index: []

#Q5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [3]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [4]:
slct = driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
slct.click()

In [5]:
slct = driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
slct.click()

In [6]:
name=[]
artist=[]
lrank=[]
prank=[]
week=[]

In [7]:
ranks = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in ranks:
    rk = i.text
    lrank.append(rk)
weeks = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in weeks:
    wk = i.text
    week.append(wk)
arts = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in arts:
    ar = i.text
    artist.append(ar)
nams = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
for i in nams:
    nm = i.text
    name.append(nm)
prs = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in prs:
    pr = i.text
    prank.append(pr)

In [8]:
len(prank)

100

In [9]:
df=pd.DataFrame({'week':week,'Artist':artist,'song':name,'last week':lrank,'peak rank':prank})
df

,week,Artist,song,last week,peak rank
0,1,Beyonce,Texas Hold 'Em,2,1
1,2,Jack Harlow,Lovin On Me,1,1
2,3,Teddy Swims,Lose Control,5,2
3,4,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,Carnival,3,3
4,5,Benson Boone,Beautiful Things,4,3
...,...,...,...,...,...
95,96,¥$: Kanye West & Ty Dolla $ign Featuring North...,Talking,30,30
96,97,Bad Bunny,Monaco,97,5
97,98,Bailey Zimmerman,Where It Ends,-,32
98,99,The Red Clay Strays,Wondering Why,-,71
99,100,Noah Kahan With Hozier,Northern Attitude,75,37

#Q6 Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [10]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [11]:
Book=[]
Author =[]
Volume=[]
Publisher=[]
Genre=[]

In [12]:
books= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in books:
    bk = i.text
    Book.append(bk)
auths= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in auths :
    aut = i.text
    Author.append(aut)
vols= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vols:
    vl = i.text
    Volume.append(vl)
PUBS = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in PUBS :
    pb = i.text
    Publisher.append(pb)
gens= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gens:
    gr = i.text
    Genre.append(gr)

In [13]:
len(Author)

100

In [14]:
df=pd.DataFrame({'Book':Book,'Author':Author,'Volume':Volume,'Publisher':Publisher,'Genre':Genre})
df

,Book,Author,Volume,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#Q7 Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls512407256/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [16]:
driver=webdriver.Chrome()
driver.get(' https://www.imdb.com/list/ls512407256/')

In [17]:
Name=[]
Year=[]
Genre=[]
Runtime=[]
Ratings=[]
Votes =[]

In [18]:
gens= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p/span[5]')
for i in gens:
    gr = i.text
    Genre.append(gr)
    
Names= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3/a')
for i in Names:
    nm = i.text
    Name.append(nm)
    
Years= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3/span[2]')
for i in Years:
    yr = i.text
    Year.append(yr)

Runtimes= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p/span[3]')
for i in Runtimes :
    rt= i.text
    Runtime.append(rt)
    
Ratingss= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/div/div/span[2]')
for i in Ratingss:
    rg = i.text
    Ratings.append(rg)
    
Votess= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[4]/span[2]')
for i in Votess:
    vt = i.text
    Votes.append(vt)

In [19]:
df=pd.DataFrame({'Name':Name,'Year':Year,'Genre':Genre,'Runtime':Runtime,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,262,743"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,608"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,072,366"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,495"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,435"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"645,816"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"162,075"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,891"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"433,124"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,702"

#Q8 Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

In [20]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [21]:
slct = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
slct.click()

In [22]:
slct = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
slct.click()

In [23]:
name=[]
Type=[]
Task=[]
Attribute=[]
instances=[]
totattribute =[]
Year=[]

In [27]:
urls = []
start = 0
end = 5

for page in range(start, end):
                                               
    elements = driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
    for element in elements:
        urls.append(element.get_attribute('href'))
    nxt=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')

for url in urls:
    print(url)

https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/850/raisin
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/186/wine+quality
https://archive.ics.uci.edu/dataset/34/diabetes
https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/850/raisin
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/186/wine+quality
https://archive.ics.uci.edu/dataset/34/diabetes
https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/850/raisin
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/186/wine+quality
https://archive.ics.uci.edu/dataset/34/diabetes
https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/850/raisin
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/186/wine+quality
https://archive.ics.uci.edu/dataset/34/diabetes
https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/850/raisin
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/186/wine+quality
https://archive.ics.uci.edu/dataset/34/diabetes